/* Cores padrões */
:root {
    --primary-color: #70062e;
    --second-color: #800730;
    --third-color: #8f0732;
    --forth-color: #af5771;
    --fifth-color: #d3b4bb;
    --sixth-color: #e2dbda;
}

/* Reset */
header *,
footer * {
    margin: 0;
    padding: 0;
    font: inherit;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

/* Fonte de texto padrão */
header *,
footer * {
    font-family: 'Open Sans', sans-serif;
}

body {
    display: flex;
    justify-content: space-between;
    flex-direction: column;

}

/* Estilização do Header */
.header {
    background-color: var(--second-color);
    color: var(--sixth-color);

    width: 100%;
    height: 60px;

    display: flex;
    position: sticky;
    top: 0;
    left: 0;
    justify-content: space-around;
    z-index: 100;
}

.header div a {
    display: flex;
    gap: 16px;
    color: var(--sixth-color);
    width: 240px;
}

.header div a div {
    text-align: center;
    font-size: 20px;
    font-weight: 800;

    margin-top: 5px;
}

.header img[atl="icone trofeu"] {
    margin-left: 16px;
    height: 40px;

    margin-top: 10px;
}

.header nav {
    height: 60px;
    width: 100%;
}

.header nav ul {

    display: flex;
    justify-content: right;
    gap: 20px;
    margin-top: 18px;
    margin-right: 40px;
}

.header ul li a span {
    color: var(--sixth-color);
    font-size: 15px;
    font-weight: 700;
}

.header ul li a>div {
    width: 100%;
    height: 2px;
    transition: 450ms all;

}

.header ul li:hover>a>span {
    color: white;
}

.header ul li:hover a>div {
    background-color: white;
    -webkit-animation: scale-up-hor-center 0.4s both;
    animation: scale-up-hor-center 0.4s both;
}

@-webkit-keyframes scale-up-hor-center {
    0% {
        -webkit-transform: scaleX(0);
        transform: scaleX(0);
    }

    100% {
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
    }
}

@keyframes scale-up-hor-center {
    0% {
        -webkit-transform: scaleX(0);
        transform: scaleX(0);
    }

    100% {
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
    }
}

.c-modal-item {
    display: flex;
    gap: 5px;
    text-align: right;
    align-items: center;
    width: 25%;
    margin-right: 16px;

}

.c-modal-item .btn-active-modal {
    color: var(--sixth-color);
    font-weight: 600;
    display: inline-block;
    background-color: transparent;
    padding: 5px 15px;
    border: 2px solid var(--sixth-color);
    border-radius: 30px;
    transition: all .3s;
    cursor: pointer;
}

.c-modal-item .btn-active-modal:hover {
    color: white;
    border: 2px solid white;
    background-color: var(--primary-color);
}

/* Estilização do Footer */
footer {
    display: flex;
    flex-direction: column;
    margin-top: auto;
    z-index: 99;
}

.footer-1 {
    background-color: var(--third-color);
    display: flex;
    justify-content: space-evenly;
    height: 120px;
    padding-top: 10px;

}

.footer-1 .column {
    height: 100px;
    padding-left: 10px;
    border-left: 3px solid var(--primary-color);

}

.footer-1 .column h4 {
    color: var(--sixth-color);
    font-size: 17px;
    font-weight: 700;
    margin-bottom: 10px;
}

.footer-1 .column a span {
    color: var(--fifth-color);
    font-weight: 400;
    width: auto;
}

.footer-1 .column li:hover,
.footer-1 .column span:hover {
    transform: scale(1.1);
    color: var(--sixth-color);
}


.footer-1 .column a:visited {
    color: var(--forth-color);
}

.footer-2 {
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-between;
    height: 50px;
}

.logo-grupo {
    width: 150px;
    display: flex;
    align-items: center;
}

.logo-grupo img {
    height: 30px;
    margin-left: 16px;
}

.footer-2 div h6 {
    color: var(--sixth-color);
    text-align: center;
    font-weight: 500;

    margin-top: 20px;
}

.footer-2 nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-2 nav ul {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-top: 10px;
}

.footer-2 nav li:last-child {
    margin-right: 16px;

}

/* Testes */
.modal .modal-content .modal-header,
.modal .modal-content .modal-footer {
    padding: 0;
    border-bottom: none;
}


.modal .modal-content .modal-header .close,
.modal .modal-content .modal-footer .close {
    margin: 0;
    padding: 0;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1050;
    display: none;
    width: 100%;
    height: 100%;
    overflow: hidden;
    outline: 0;
}

.modal {
    overflow-x: hidden;
    overflow-y: auto;
}

.modal .modal-dialog {
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

/* .modal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-clip: padding-box;
    outline: 0;
} */

.modal .modal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-clip: padding-box;
    outline: 0;
    background-color: transparent;
    border: 3px solid var(--sixth-color);

}

.modal-header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    border-top-left-radius: calc(0.3rem - 1px);
    border-top-right-radius: calc(0.3rem - 1px);
}


.modal .modal-content .modal-header .close,
.modal .modal-content .modal-footer .close {
    margin-top: 0;
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 9;
    font-size: 35px;
}

.modal-header .close {
    padding: 1rem 1rem;
    margin: -1rem -1rem -1rem auto;
}

[type=button]:not(:disabled),
[type=reset]:not(:disabled),
[type=submit]:not(:disabled),
button:not(:disabled) {
    cursor: pointer;
}

button.close {
    padding: 0;
    background-color: transparent;
    border: 0;
}

.close {
    float: right;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    color: var(--primary-color);
    text-shadow: 0 1px 0 var(--sixth-color);
    opacity: 0.7;
}


button,
select {
    text-transform: none;
}

button,
input {
    overflow: visible;
}

.modal-body {
    max-width: 600px;
    position: relative;
    flex: 1 1 auto;
    padding: 1rem;
}

.modal .modal-content .modal-body .login:not(.message) {
    padding: 0 125px;
}

.modal .modal-content .modal-body .login h3 {
    color: var(--sixth-color);
    text-align: center;
    font-size: 20px;
    text-transform: uppercase;
}


#login a,
#sign-up a,
#form-reset a {
    color: var(--sixth-color);
}

#login a:hover,
#sign-up a:hover,
#form-reset a:hover,
.c-user_item .c-user_menu a:hover {
    color: #fff;
}

.modal .modal-content .message {
    color: #ff0000;
}

.modal .modal-content .modal-body .login #loginform {
    font-size: 0;
}

.modal .modal-content .modal-body .login label {
    color: #fff;
}

.modal .modal-content .modal-body .login label {
    width: 100%;
    max-width: 200px;
    text-align: left;
    color: var(--sixth-color);
    font-weight: 600;
    margin-top: 14px;
}

button,
input,
optgroup,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}

.modal .modal-content .modal-body .login input[type=text],
.modal .modal-content .modal-body .login input[type=email],
.modal .modal-content .modal-body .login input[type=url],
.modal .modal-content .modal-body .login input[type=password],
.modal .modal-content .modal-body .login input[type=search] {
    width: 100%;
    padding: 13px 15px;
    border: 1px solid #e1e1e1;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #fff;
}


input[type=checkbox],
input[type=radio] {
    box-sizing: border-box;
    padding: 0;
}

.modal .modal-content .modal-body .login #loginform .forgetmenot #rememberme {
    display: inline-block;
    margin-top: -1px;
    vertical-align: middle;
    margin-right: 10px;
}

.modal .modal-content .modal-body .login #loginform .forgetmenot,
.modal .modal-content .modal-body .login #loginform .submit {
    display: inline-block;
    width: 50%;
}

.modal .modal-content .modal-body .login #loginform>* {
    font-size: 14px;
}

.modal .modal-content .modal-body .login .submit .wp-submit {
    padding: 12px 30px;
    border: none;
    border-radius: 25px;
    font-weight: 600;
    color: white;
    background-color: var(--primary-color);
    transition: background-color 200ms ease;
}

.modal .modal-content .modal-body .login #loginform:after {
    display: table;
    clear: both;
    content: "";
}

.modal .modal-content .modal-body .login .nav {
    margin-top: 5px;
}

.nav {
    display: flex;
    justify-content: right;
    flex-wrap: wrap;
    padding-left: 0;
    margin-top: 10px;
    /* margin-bottom: 0; */
    list-style: none;
    color: var(--sixth-color);
}


.modal .modal-content .modal-body .login .submit {
    float: left;
}

.modal-content .modal-body .login .submit .wp-submit:not(:hover) {
    color: var(--sixth-color);
    background-color: var(--second-color);
}


.modal .modal-content .modal-body .login #loginform .submit {
    display: inline-block;
    width: 50%;
    content: '';
}

.modal .modal-content .modal-footer {
    padding: 0;
    border-bottom: none;
}

.modal-footer {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    padding: 0.75rem;
    /* border-top: 1px solid #dee2e6; */
    border-bottom-right-radius: calc(0.3rem - 1px);
    border-bottom-left-radius: calc(0.3rem - 1px);
}


.modal .modal-dialog,
.modal .modal-content .modal-loading-screen {
    background-color: var(--third-color);
}


/* */
.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1040;
    width: 100vw;
    height: 100vh;
    background-color: #000;
}


.modal-backdrop.show {
    opacity: 0.75;
}


.c-modal-item {
    text-align: right;
    width: 25%;
}

.site-header .c-sub-header-nav .c-sub-nav_wrap>* {
    display: inline-block;
    font-size: 14px;
    vertical-align: middle;
}

.c-user_item span,
.c-modal-item .btn-active-modal {
    color: #ffffff;
}

.c-modal-item .c-user_item span {
    margin-right: 10px;
    color: var(--sixth-color);
}

.c-modal-item .c-user_item>* {
    display: inline-block;
    vertical-align: middle;
}

.c-modal-item .c-user_item .c-user_avatar {
    position: relative;
}

.c-user_item .c-user_avatar .c-user_avatar-image img {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border: 2px solid var(--sixth-color);
}

.c-modal-item .c-user_item>* {
    display: inline-block;
    vertical-align: middle;
}

.c-user_menu {
    border-bottom-color: #43cbf2;
}

.c-modal-item .c-user_item .c-user_menu {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    list-style: none;
    padding: 0;
    background-color: var(--second-color);
    min-width: 150px;
    max-width: 250px;
    text-align: left;
    top: 100%;
    right: -30%;
    padding: 10px;
    z-index: 9999;
    border-bottom: 3px solid var(--sixth-color);
    /* border-top: 1px solid #ebebeb; */
    white-space: nowrap;
}

.c-modal-item .c-user_item .c-user_menu  {
    margin-top: 0;
    margin-bottom: 1rem;
    box-sizing: border-box;
}

.c-modal-item .c-user_item .c-user_avatar:hover .c-user_menu {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.4s;
}

.c-modal-item .c-user_item .c-user_menu li:not(:first-child) {
    margin-top: 6px;
}


/*  */

/* Responsividade */
@media screen and (max-device-width: 1440px),
(max-width: 1440px) {}

@media screen and (max-device-width: 1366px),
(max-width: 1366px) {}

@media screen and (max-device-width: 1280px),
(max-width: 1280px) {

    .header nav ul li a span {
        font-size: 13px;
    }


}

@media screen and (max-device-width: 1024px),
(max-width: 1024px) {

    .header nav ul li a span {
        font-size: 12px;
    }

}

@media screen and (max-device-width: 960px),
(max-width: 960px) {


    .header nav ul {
        gap: 5px;
        margin-top: 18px;
        margin-right: 30px;

    }


    .footer-1 .column h4 {
        font-size: 15px;
    }

    .footer-1 .column a span {
        font-size: 13px;
    }

    .logo-grupo {
        width: auto;
    }

}

@media screen and (max-device-width: 800px),
(max-width: 800px) {

    .header nav ul {
        margin-right: 20px;

    }

    .header nav ul li a span {
        font-size: 10px;
    }

    .footer-1 .column h4 {
        font-size: 14px;
    }

    .footer-1 .column a span {
        font-size: 12px;
    }

    .footer-2 div h6 {
        font-size: 11px;
    }
}

@media screen and (max-device-width: 768px),
(max-width: 768px) {}

@media screen and (max-device-width: 720px),
(max-width: 720px) {}

@media screen and (max-device-width: 640px),
(max-width: 640px) {

    .header {
        height: 70px;
        flex-direction: column;
    }

    .header div a {
        width: 100%;
        align-items: center;
        gap: 5px;
    }

    .header img[atl="icone trofeu"] {
        height: 25px;
    }

    .header div a span {
        font-size: 22px;
    }

    .header nav ul {
        margin-right: 0;
        margin-top: 10px;
        justify-content: center;
        gap: 16px;
        border-top: 1px solid var(--forth-color);
    }

    .logo-grupo img {
        height: 20px;
    }

    .footer-2 nav ul {
        gap: 10px;
    }

    .footer-2 nav ul img {
        width: 20px;
    }

}

@media screen and (max-device-width: 480px),
(max-width: 480px) {

    .footer-1 .column h4 {
        font-size: 10px;
    }

    .footer-2 {
        flex-direction: column-reverse;
        position: relative;
    }

    .footer-2 nav li:last-child {
        margin-right: 0;
    }

    .logo-grupo {
        position: absolute;
        top: 15px;
    }

    .footer-2 div h6 {
        margin-top: 0;
    }

}

@media screen and (max-device-width: 320px),
(max-width: 320px) {

    .header nav ul {
        gap: 5px;
    }

    .header nav ul li a span {
        font-size: 7px;
    }

    .footer-1 {
        height: 100px;
    }

    .footer-1 .column {
        height: 90px;
    }

    .footer-1 .column h4 {
        font-size: 8px;
    }

    .footer-1 .column a span {
        font-size: 8px;
    }
}