* {
    margin: 0;
    padding: 0;
    font: inherit;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: var(--sixth-color);
    padding-bottom: 100px;
}

.cabecalho {
    display: flex;
    justify-content: center;
    flex-direction:row;
    justify-content:space-between;
    padding-top: 7px;
    padding-right: 40px;
    padding-left: 0px;
    padding-bottom: 12px;
    border-bottom: 3px solid var(--primary-color);
    border-radius: 2px solid var(--primary-color);
    font-size: 24px;
    text-transform: uppercase;
}



.tabela-de-pontos {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-top: 10px;
    padding-left: 02px;
    padding-right: 50px;
}

.titulo {
    width: 90%;
    height: 125px;
    justify-content: center;
    display: flex;
    margin-top: 50px;
    font-size: 50px;
    font-weight: bold;
    border-bottom: solid var(--primary-color);
}



.tabela {
    background-color: var(--fifth-color);
    display: flex;
    flex-direction: column;
    width: 700px;
    min-height: 100px;
    margin: 30px auto;
    justify-content: center;
    padding: 20px 40px 30px 40px;
    border: 2px solid var(--primary-color);
    border-radius: 15px;
   
}

.row {
    display: flex;
    justify-content: space-between;
    gap: 5px;
    border-top: 2px solid #af5771;
    align-items: center;
    padding-top: 6px;
}

.row:first-child{
    border-top: none;
}

.header-tabela div {
    display: flex;
    gap: 5px;
}

.body {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: left;
    gap: 10px;
    padding: 3px 0px;
    flex-direction: column;
}

.header-tabela {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
    margin-bottom: 16px;
}

.header-tabela div span, .dados span{
    
    width: 28px;
    text-align: center;
    
}

.bandeira{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;

}

.bandeira img{
    width: 100%;
    height: 100%;
    border: 2px solid white;
    border-radius: 50%;
    
}

.time-info {
    display: flex;
    justify-content: left;
    gap: 7px;
    align-items: center;
}

.dados {
    display: flex;
    gap: 5px;
    
}
/* 
.dados span{
    width: 20px;
    text-align: center;
}
 */
.grupo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.grupo {
    display: none;
}

.grupo-a {
    display: flex;
}

.row1 {
    margin-bottom: 80px;
} 

.fg-header{
    font-size: 45px;
    font-weight: 700;
    color: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid var(--primary-color);
    padding-bottom: 16px;
}

.fg-container {
    display: flex;
    flex-direction: column;
    width: 848px;
    background-color: var(--fifth-color);
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    padding-right: 40px;
    padding-left: 40px;
    padding-bottom: 30px;
    border: 2px solid var(--primary-color);
    border-radius: 15px;
}


.fg-rodada{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 30px;
    gap: 2px;
    padding: 20px 0;  
    border-bottom: 1px solid var(--sixth-color);
}

.fg-rodada:last-child{
    border-bottom: none;
}

.fg-rodada > span {
    color: var(--thrid-color);
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 10px;

}

.fg-partidas {
    width: 100%;
}


.fg-partida {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 16px;
    border: 1px solid var(--primary-color);
    border-radius: 15px;
    overflow: hidden;
}

.fg-partida > span {
    background-color: var(--second-color);
    width: 100%;
    text-align: center;
    color: var(--sixth-color);
    font-weight: 500;
}
.selecoes {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
    width: 100%;
    padding-left: 16px;
    padding-right: 16px;
    
}

.selecao {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
    color: var(--thrid-color);
    font-size: 24px;
    font-weight: 700;
    height: 70px;
    width: 190px;
}

.selecao img {
    height: 50px;
    border-radius: 50%;
    border: 2px solid white;
}
.selecao:last-child {
    flex-direction: row;
}

.fg-placar {
    display: flex;
    justify-content: center;
    gap: 30px;
    color: var(--thrid-color);
    font-size: 20px;
    font-size: 28px;
    font-weight: 700;
}