* {
    margin: 0;
    padding: 0;
    font: inherit;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-size: 15px;

}


main {
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
    background: var(--sixth-color) ;
}
.titlematmata{  
    display: flex;
    justify-content: center;
    
    
}
.titlematmata h2{
    padding: 4px; 
    background: var(--primary-color);
    border-radius: 8px;
    width: 45%;
    text-align: center;
    font-weight: bold;
    color: var(--sixth-color);
    margin-top: 10px;
    font-size: 20px ;
}

/*inicio conf conteiner1*/
.s-shero {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px;
    height: 100%;
    border-bottom: solid #800730;
    padding-bottom: 30px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 10px;
    margin-top: 10px;
    

}

.rownevegar{
    display: flex;
    gap: 20px;
    
    
}

.number {
    background: #b6b3b3;
    border-radius: 50%;
    width: 64px;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px;
    color:var(--second-color);
    font-weight: bold;
}

.number:hover {
    background-color: #800730;
    color: white;
}

.number a {
    color: #800730;
    
}

.number a:hover {
    color: #ffffff;
}

.number img {
    width: 100%;
}

i::before {
    content: "";
    position: absolute;
    width: 40%;
    border-bottom:4px dotted var(--primary-color) ;
    left: 82px;
    height: 15px;

}

.navegar {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 90px;
    height: 120px;
    position: relative;
}

.navegarnome {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    text-align: center;
    font-weight: 500;

}

/*FIM CONTEINER1*/
.container2{
    display: flex;
    justify-content: center;
    
    

}
.wrappernavegar{
    display: flex;    
    justify-content: center;    
    padding: 4px;
    height: 100%;
    width: 72%;  
    background: linear-gradient(to right,var(--second-color), rgb(37, 34, 34));
    border-radius: 8px;
    
}
.titlenavegar{
    display: flex;
    gap:140px;
}

.partidas{
    width: 25%;
    text-align: center;
    font-weight: 700;
    color: #ffffff;

}
    


/*inicio conf conteiner2*/
.container3 {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-bottom: 30px;


}

.wrapper {
    display: flex;
    width: 72%;
    margin: 10px;
    justify-content: center;
    background-color: var(--fifth-color);
    border-radius: 10px;

 }

.boxoitavas, .boxquartas, .boxsemifinal, .boxfinal, .boxterceirolugar{
    max-width: 100%;
    /* -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s; */
    transition: all 0.5s;  
}
.boxoitavas:hover, .boxquartas:hover,.boxsemifinal:hover, .boxfinal:hover, .boxterceirolugar:hover {

    /* -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2); */
    transform: scale(1.2);
    
}

.dia {
    background: linear-gradient(to right,var(--second-color), rgb(37, 34, 34));
    border-radius: 8px 8px 0px 0px;
    text-align: center;
    align-items: center;
    font-weight: bold;
    color: #ffffff;
}


.selecao {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid #80072f4e;
}

.selecao:last-child {
    border: none;
}

.selecao-title {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 10px;
}



.bandeira {
    width: 30px;
    height: 30px;

}


.selecao-title p, .selecao span {
    font-weight: 500;
    color: var(--primary-color);
}

.selecao span {
    font-weight: bold;
}


.boxoitavas {
    background-color: var(--sixth-color);
    width: 190px;
    height: 120px;
    padding: 1px;
    border-radius: 8px;    
    
    

}

#oitavas {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
} 


.fluxograma1 {
    display: flex;
    flex-direction: column;
    gap: 82px;
}

.fluxograma-oitavas {
    display: flex;
    padding-top: 78px;
    height: 219px;
   

}
.fluxograma-oitavas div {
    display: flex;

}

.fluxo1 {
   
    border-top: 2px solid black;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    width: 20px;
    height: 150px;

}

.fluxo2 {

    border-bottom: 2px solid black;   
    width: 20px;
    height: 75px;
   

}

#quartas{
    display: flex;
    flex-direction: column;
    gap: 182px;
    margin-top: 83px;
}

.boxquartas{
    background-color: var(--sixth-color);
    width: 190px;
    height: 120px;
    padding: 1px;
    border-radius: 8px;
    

 }
 .fluxograma2 {
    display: flex;
    flex-direction: column;
    gap: 304px;

}

.fluxograma-quartas {
    display: flex;
    padding-top: 150px;
    height: 300px;
   

}
.fluxograma-quartas div {
    display: flex;

}

.fluxoquarta1 {
   
    border-top: 2px solid black;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    width: 20px;
    height: 305px;

}

.fluxoquarta2 {
   
    border-bottom: 2px solid black;
    width: 20px;
    
   

}

 #semifinal{
    display: flex;
    flex-direction: column;
    gap: 484px;
    margin-top: 228px;
 }
 .boxsemifinal{
    background-color: var(--sixth-color);
    width: 190px;
    height: 120px;
    padding: 1px;
    border-radius: 8px;
    

 }
 .fluxograma3{
    display: flex;
    flex-direction: column;

}

.fluxograma-semi {
    display: flex;
    padding-top: 293px;
    height: 300px;
   

}
.fluxograma-semi div {
    display: flex;

}

.fluxosemi1 {
   
    border-top: 2px solid black;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    width: 20px;
    height: 608px;

}

.fluxosemi2 {
   
    border-bottom: 2px solid black;
    width: 20px;
    height: 304px;
   

}
#fnal{
    display: flex;
    flex-direction: column;
    gap: 30px;
    
}

.boxfinal{
    background-color: var(--sixth-color);
    width: 190px;
    height: 120px;
    padding: 1px;
    border-radius: 8px;
    margin-top: 529px;

}
 #container4{
    display: flex;
    justify-content:center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
        
 }
 .textdisputa{
    display: flex;
    justify-content: center;
    width: 72%;
    border-radius: 10px; 
    margin-bottom: 10px;  
    color: #ffffff;
    background: linear-gradient(to right,var(--second-color), rgb(37, 34, 34));

 }
 .wrapper-terceiro-lugar{
    background: var(--fifth-color);
    width: 72%;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;


 }

.boxterceirolugar{
    background-color: var(--sixth-color);
    width: 220px;
    height: 120px;
    padding: 1px;
    border-radius: 8px;
    margin-left: 30px;
   

}

.informacao {
    font-size: 14px;
    display: flex;
    justify-content: flex-end;
    font-weight: 500;
    margin-right: 50px;


}

.informacao em {
    font-style: italic;
    margin-right: 10px;

}

.voltartopo {
    display: flex;
    background-color: #d3b4bb;
    justify-content: center;
}

/* Responsividade */
@media screen and (max-device-width: 1440px),
(max-width: 1440px) {


}

@media screen and (max-device-width: 1366px),
(max-width: 1366px) {

}

@media screen and (max-device-width: 1280px),
(max-width: 1280px) {
    /* .titlenavegar {
        gap: 50px;
    } */
    .wrappernavegar{
    width: 97%;
    }
    .s-shero{ 
    margin: 10px 10px;
    }

    .wrapper{
   width: 97%;
    }
    .container3{
    margin-bottom: 10px;
    }

    .textdisputa{
    width: 97%;
    }
    .wrapper-terceiro-lugar{
    width: 97%;
    }
}
@media screen and (max-device-width: 1024px),
(max-width: 1024px) {
    
}

@media screen and (max-device-width: 915px){
    .fluxo2, .fluxoquarta2, .fluxosemi2{
    border-bottom: none;
    width: 0;
    height: 0;

    }

}
@media screen and (max-device-width: 853px),
(max-width: 853px){
    

    .boxoitavas, .boxquartas, .boxsemifinal, .boxfinal{
        width: 174px;
        height: 125px;
    }

}
@media screen and (max-device-width: 768px),
(max-width: 768px) {
    .titlenavegar{
    gap: 94px;
}
    .boxoitavas, .boxquartas, .boxsemifinal, .boxfinal {
        width: 158px;
        height: 119px;
    }

}

@media screen and (max-device-width: 720px){
    .titlenavegar {
        gap: px;
    }
}

@media screen and (max-device-width: 640px),
(max-width: 640px){

}
@media screen and (max-device-width: 480px),
(max-width: 480px) {
    .wrappernavegar{
        width: 100%;
    }
}

@media screen and (max-device-width: 320px),
(max-width: 320px){

    
}