
body {
    background-color: var(--sixth-color);
    margin: 0px;
}

main {
    padding: 0px 175px 100px 175px;
    font-family: 'Open Sans', sans-serif;
}


.zero h1 {
    font-size: 50px;
    font-style: bold;
    text-align: center;
    font-weight: bolder;
    height: 0;
    padding: 0 0 25px 0;
}

h2 {
   color: var(--thrid-color);
}

.subtitle {
    font-size: 36px;
    font-style: bold;
    text-align: center;
    padding: 0 0 25px 0;
    color: #c7778a;
}

.s-hero {
    display: flex;
    justify-content: space-evenly;
    padding: 15px;
    background: linear-gradient(to right,var(--second-color), rgb(37, 34, 34));
    color: var(--sixth-color);
    border-radius: 8px;
    text-decoration: none;
}

.s-hero a {
    color: var(--sixth-color);
}

a {
    color: black;
}

.list-topics a, .stadiun-impar a, .s-hero a {
    /* color: var(--sixth-color); */
    font-style: bolder;
}

.zero p {
    padding-top: 30px;
}

p {
    text-align: justify;
    font-size: 18px;
}

img {
    display: block;
    margin: 0px auto;
}


figcaption {
    text-align: center;
    font-size: 12px;
    font-style: italic;
    /* margin: 0 0 0px 0; */

}

.list-topics {
    padding: 15px;
    background-color: var(--fifth-color);
    /* color: var(--sixth-color); */
}

.map img {
    display: inline-block;
    float: left;
    margin: 0px 30px 15px 0px;
}

section {
    padding: 15px;
}

.citys {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    background-color: var(--fifth-color);
    /* color: var(--sixth-color); */
    padding: 15px 30px;
}

.citys p {
    font-size: 15px;
}

.stadiun-impar, .stadiun-par {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 10px solid var(--fifth-color);
}

.stadiun-impar {
    background-color: var(--fifth-color);
    /* color: var(--sixth-color); */
}

.stadiuns img {
    margin: 0;
    padding: 40px 0 0 0;
}

.stadiuns p {
    font-size: 10pt;
    padding-left: 25px;

}

.stadiuns h3 {
    font-size: 12pt;
    flex-direction: row;
    padding-left: 25px;
    width: 100%;
}
















.comments {
    margin-top: 100px;
}

.comments form {
    background-color: #e638463d;
    padding: 20px;
    border: 10px solid var(--primary-color);
    border-radius: 10px;

}

.comments .box {
    width: 100%;
}

.box-comments label {
    padding-right: 5px;
    font-weight: 500;
}

#send {
    display: block;
    margin: 0px 94%;
    border-radius: 5px;
}

.box {
    resize: none;
}

.campo.success input {
    border: 3px solid #4ECA64;
  }
  
  .campo.error input {
    border: 3px solid #DB5A5A;
  }
  
  .campo.error div.img-error {
    visibility: visible;
  }
  
  .campo.success div.img-success {
    visibility: visible;
  }
  
  .campo.error span{
    color: #DB5A5A;
    visibility: visible;
  }
  
  .campo div {
  position: absolute;
  top: 45px;
  right: 10px;
  visibility: hidden;
  }
  
  .campo span {
    visibility: hidden;
    position: absolute;
    margin-top: 5px;
    font-size: 14px;
  }