.all {
    background-color: #e2dbda;
    font-family: 'Open Sans', sans-serif;
}

#tituloSimu {
    background: linear-gradient( #800730, #2e2e2e);
    font-family: 'Open Sans', sans-serif;
    color: #e2dbda;
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 5px;
}

.s-shero{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    border-bottom: solid #800730;
    padding-bottom: 10px;
    margin: auto 175px;

} 

.number-check {
    background: #b6b3b3;
    box-sizing: border-box;
    border-radius: 50%;
    width: 68px;
    height: 68px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto 15px;
}
.number-check{
    color: #800730;
    font-size: 36px;
    font-weight: bold;

}

.atual{
    background-color: #800730;
    color:#fdfdfd;
}


.number-check img{
    width: 34px;
    height: 34px;
}

.navegar{
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 170px;
    height: 120px;
}

.navegar::before{
    display: block;
    width: 40%;
    border-bottom: 5px dotted #cecece;
    position: absolute;
    top: 33px;
    left: 80%
}

.navegarnome {
    font-weight: bold;
    color: #3b3b3b;
}


.coluna {
    width: auto;
    height: auto;
}

.coluna .conteudo{
    margin: 0px 36px;
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    border: 20px;
    padding-top: 15px;
    padding-bottom: 50px;
}

.coluna h2 {
    background: linear-gradient(68deg, #850f2b, #1d1d1d);
    display: block;
    text-align: center;
    margin-left: 15px;
    margin-right: 15px;
    width: 400px;
    font-size: large;
    color: #e2dbda;

}

/* .pag1 {
    display: flex;
    align-items: center;
} */


.grupo {
    background-color: #d3b4bb;
    margin-top: 30px;
}

.grupo h3 {
    display: flex;
    justify-content: center;
    font-size:large;
    font-size: 20px;
    background-color:#850f2b;
    color: #e2dbda;
}

.grupoBox {
    border: 1px solid #850f2b;
    border-top: none;
    padding: 15px 20px;
    overflow: hidden;
}
.itensG {
    margin-left: 70px;
    color: #3b3b3b;
    font-size: 19px;
    font-weight: 500;
    padding: 5px;
    align-items: center;
    display: flex;
}

.itensG label {
    cursor: pointer;
    align-items: center;
    display: flex;
    position: relative;
}

.itensG span {
    padding: 10px;
    border: 1px solid #d3b4bb;
    border-radius: 50%;
    
}

.itensG label span.primeiro:before{
    content: '1°';
    color: #fdfdfd;
    font-weight: bold;
    font-size: 15px;
    background-color: #FFC300;
    box-shadow: 1px 2px 3px black;
    border: #3b3b3b;
    border-radius: 50%;
    position: absolute;
    top: 2px;
    left: -1px;
    padding: 2px 5px;
}

.itensG label span.segundo:before{
    content: '2°';
    color: #fdfdfd;
    font-weight: bold;
    font-size: 15px;
    background-color: #8B8B8B;
    box-shadow: 1px 2px 3px black;
    border-radius: 50%;
    position: absolute;
    top: 2px;
    left: -1px;
    padding: 2px 5px;
}

.itensG input {
    cursor: pointer;
    margin-right: 8px;
    transform : scale(1.4);
    visibility: hidden;
}

.itensG img {
    margin-right: 8px;
}

img.bandeiras{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.oitavas{

}

.escondeFase{
    display: none;
}

.boxFases{
    display: grid;
    background-color: #d3b4bb;
    text-align:center ;
    color: #e2dbda;
    border: 1px solid #850f2b;
    margin-top: 30px;
    padding: 15px 15px;
    overflow: hidden;
    border-top: 5px solid #850f2b;
}
.boxFases label{
    color: #3b3b3b;
    font-size: 19px;
    font-weight: 500;
    padding: 5px;
}

div.selecao {
    display: flex;
    align-items: center;
    color: #3b3b3b;
    font-size: 19px;
    font-weight: 500;
    padding: 5px;
    gap: 8px;
}

.buttonDiv {
    width: 90%;
    margin: 0 auto 80px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.button {
    cursor: pointer;
    color: #fff;
    font-weight: 600;
    border: none;
    text-transform: uppercase;
    flex: 1;
    margin:5px;
    background-color: #850f2b;
    padding: 15px 5px;
}

.button:hover{
    background-color: #5a0213;
    transition: all ease 0.5s;
    color:white;
}


@media (min-width: 768px) {
    .buttonDiv {
        flex-direction: row;
    }
    .button {
        margin-bottom: 0;
        margin-left: 15px;
    }
}

@media (min-width: 962px){
    .s-shero{
        margin-top: 10px;
    }
    .navegarnome{
        font-size: small;
    }
}

@media (max-width: 800px){
    .s-shero{
        margin-top: 10px;
    }
    .navegarnome{
        padding: 0;
        text-align: center;
        font-size:small;
    }
    .coluna{
        justify-content: space-between;
        margin: 10px;
    }
    .coluna h2{
        width: 350px;
    }
    .grupoBox{
        padding: auto;
    }
}

@media (max-width: 768px){
    .s-shero{
        margin-top: 10px;
    }
    .navegarnome{
        font-size: small;
        padding: 0;
        text-align: center;
    }
    .coluna{
        justify-content: space-between;
        margin: 10px;
    }
    .coluna h2{
        width: 340px;
    }
    .grupoBox{
        padding: auto;
    }
}
@media (max-width: 600px){
    .s-shero{
        margin-top: 10px;
    }
    .navegarnome{
        font-size: small;
        padding: 0;
        text-align: center;
    }
    .coluna{
        justify-content: space-between;
        margin: 10px;
    }
    .coluna h2{
        width: 250px;
    }
    .grupoBox{
        padding: auto;
    }
}
@media (max-width: 414px){
    .s-shero{
        margin: 0;
        margin-top: 10px;
    }
    .number-check{
        width: 48px;
        height: 48px;
    }
    .navegarnome{
        font-size: small;
        padding: 0;
        text-align: center;
    }
    .coluna{
        justify-content: space-between;
        margin: 5px;
    }
    .coluna h2{
        display: flex;
        text-align: center;
        width: 90px;
    }
    #faseG h2{
        width: 50%;
    }
    .grupoBox{
    
        padding: auto;
    }
}
@media (max-width: 360px){
    .s-shero{
        margin: 0;
        margin-top: 5px;
    }
    .number-check{
        width: 48px;
        height: 48px;
    }
    .navegarnome{
        font-size: x-small;
        padding: 0;
        text-align: center;
    }
    .coluna{
        justify-content: space-between;
        margin: 2px;
    }
    .coluna h2{
        background-color: none;
        color: #e2dbda;
        text-align: start;
        margin: 0;
        padding: 0;
        width: 100px;
    }
    
    .grupoBox{
        padding: auto;
    }
    .itensG{
        font-size: small;
    }
    
}


