*{
    margin: 0;
    padding: 0;
    font: inherit;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
 
}

body{
    background-color: #571833;

    
}

header {
    background-color: #70062e;
    width: 100%;
    height: 100px;
    align-items: center;
    justify-content: center;
}

header h1 {
    font-size: 30px;
    
}

main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    max-width: 800px;
    min-width: 320px;
    margin: auto;

}  


main section, h1 {
    width: 100%;

}

.title{
    
    display: flex;
    width: 100%;
    justify-content: center;
    margin: 0 30px;
    font-size: 50px;
    
}

h1 {
    font-size: 50px;
    color: #d3b4bb;
    font-weight: bold;
    margin: 30px;
}

.copa{
    font-size: 20px;
    color: #e2dbda;
    margin-top: 35px;

}


.title-center{
    font-size: 36px;
    color: #af5771;
    font-weight: bold;
    margin-top: 40px;
    margin-bottom: 20px;
}

.selecoes {
    
    width: 800px;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.selecao {
    background-color: #18161759;
    display: flex;
    gap: 10px;
    margin: 10px 0;
    justify-content: space-between;
    padding-right: 16px;
    height: 70px;
    border-radius: 10px;
    overflow: hidden;
    align-items: center;
    
}

.selecao .bandeira-pais {
    display: flex;
    align-items: center;
    gap: 16px;
}


.bandeira-selecao img {
    width: 100%;
    height: 100%;
}

.bandeira-selecao {
    width: 120px;
    height: 100px;
}

.text-pais {
    font-size: 31px;
    font-weight: bold;
    color: white;
}


.selecao .trofeu-ano {
    
    align-items: center;
    justify-content: right;
    display: flex;
    gap: 16px;
    margin-right: 16px;
}



.trofeu img {
    width: 45px;
    height: 35px;
}

.coment-selecao {
    color: white;
    font-size: 18px;
    font-weight: bold;
    align-items: center;
}

.curi {
    margin-top: 20px;
    color: #e2dbda;
}

.titulo{
    font-size: 25px;
    font-weight: bold;
    margin-top: 15px;
    color: #af5771;
}

.texto{
    margin-top: 10px;
    font-size: 18px;
    margin-bottom: 40px;
}

.curiosidades{
    display: block;
    border: 6px #af5771 solid;
    padding: 30px;
    margin-bottom: 20px;
}

/* Responsividade*/

@media screen and (max-device-width: 1440px),
(max-width: 1440px){ 
    
}

@media screen and (max-device-width: 1366px),
(max-width: 1366px){ 
    
}

@media screen and (max-device-width: 1280px),
(max-width: 1280px){ 
    
}

@media screen and (max-device-width: 1024px),
(max-width: 1024px){ 
    
}

@media screen and (max-device-width: 960px),
(max-width: 960px){ 
    
}

@media screen and (max-device-width: 800px),
(max-width: 800px){ 
    
}

@media screen and (max-device-width: 768px),
(max-width: 768px){ 
    
}

@media screen and (max-device-width: 720px),
(max-width: 720px){ 
    
}

@media screen and (max-device-width: 640px),
(max-width: 640px){ 
    
}

@media screen and (max-device-width: 480px),
(max-width: 480px){ 

    h1 {
        padding: 50px 30px 0px;
        font-size: 25px;
    }

    h2{
        font-size: 22px;
        padding: 0px 24px 20px;
    }

    .title{

        display: revert;
    }


    .selecao{
        
        width: 100%;
        height: 128%;
        
    }

    .bandeira-selecao img {
        width: 85%;
        height: 100%;

    }

    .selecao .bandeira-pais{
        width: 100%;
        height: 56%;
        gap: initial;
    }

    .text-pais{
        font-size: 20px;
    }

    .selecoes{
        width: 100%;
    height: 100%;

    }

    .trofeu img{
        width: 62px;
        height: 40px;
        max-width: fit-content;
    }

    .trofeu-ano{

        margin-right: 30px;
        gap: 0px;
    }

    
}
    


@media screen and (max-device-width: 320px),
(max-width: 320px){ 
    
    h1 {
        padding: 30px 20px 0px;
        font-size: 25px;
    }

    h2{
        font-size: 20px;
        padding: 0px 24px 20px;
    }

    .title{

        display: revert;
    }


    .selecao{
        
        width: 100%;
        height: 128%;
        
    }

    .bandeira-selecao img {
        width: 85%;
        height: 100%;

    }

    .selecao .bandeira-pais{
        width: 100%;
        height: 56%;
        gap: initial;
    }

    .text-pais{
        font-size: 20px;
    }

    .selecoes{
        width: 100%;
    height: 100%;

    }

    .trofeu img{
        width: 65px;
        height: 30px;
        max-width: fit-content;
    }

    .trofeu-ano{

        margin-right: 30px;
        gap: 0px;
    }

    .coment-selecao {
        font-size: 15px;
        font-weight: bold;
    }
}